<div class="conteudo">

    <div class="carrinho">
        <div class="col">
            <h1>Carrinho de Compras</h1>
            <p>Preço</p>
        </div>
        <div class="card">
            <hr>
            <div class="item">
                <div class="checkbox"></div>
                <div class="airpad"></div>
                <div class="info">
                    <h3>AirPods (3.ª geração)</h3>
                    <h1 class="estoque">Em estoque</h1>
                    <h1 class="vendido">Vendido por:&nbsp;<h1>Apple Store</h1> </h1>
                    <h1 class="vendido">Cor:&nbsp;<h1>Branco</h1> </h1>
                    <h1 class="vendido">Dimensões:&nbsp;<h1>4.6 x 2.1 x 5.4 cm</h1> </h1>
                </div>
                <div class="preco">
                    <h3>R$ 1.598,00</h3>
                    <h1 class="vendido">à vista no Pix e boleto ou em até 10x de R$ 159,80 sem juros</h1>
                </div>
            </div>
            <hr>
        </div>
        <div class="card">
            <div class="item">
                <div class="checkbox"></div>
                <div class="apple"></div>
                <div class="info">
                    <h3>Apple iPhone 15 (128 GB) — Preto</h3>
                    <h1 class="estoque">Em estoque</h1>
                    <h1 class="vendido">Vendido por:&nbsp;<h1>Apple Store</h1> </h1>
                    <h1 class="vendido">Cor:&nbsp;<h1>Grafite</h1> </h1>
                    <h1 class="vendido">Dimensões:&nbsp;<h1>147.6 x 71.6 x 7.8 cm</h1> </h1>
                </div>
                <div class="preco">
                    <h3>R$ 4.848,00</h3>
                    <h1 class="vendido">à vista no Pix e boleto ou em até 10x de R$ 484,80 sem juros</h1>
                </div>
            </div>
        </div>
        <div class="card">
            <hr>
            <div class="item">
                <div class="checkbox"></div>
                <div class="tv"></div>
                <div class="info">
                    <h3>Samsung Smart TV 55" UHD 4K</h3>
                    <h1 class="estoque">Em estoque</h1>
                    <h1 class="vendido">Vendido por:&nbsp;<h1>Samsung</h1> </h1>
                    <h1 class="vendido">Cor:&nbsp;<h1>Preto</h1> </h1>
                    <h1 class="vendido">Dimensões:&nbsp;<h1>138.6 x 82.8 x 15.9 cm</h1> </h1>
                </div>
                <div class="preco">
                    <h3>R$ 2.749,00</h3>
                    <h1 class="vendido">à vista no Pix e boleto ou em até 10x de R$ 274,90 sem juros</h1>
                </div>
            </div>
        </div>
        <div class="card">
            <hr>
            <div class="item">
                <div class="checkbox"></div>
                <div class="geladeira"></div>
                <div class="info">
                    <h3>Geladeira Frost Free Brastemp 375L</h3>
                    <h1 class="nestoque">Estoque não disponível</h1>
                    <h1 class="vendido">Vendido por:&nbsp;<h1>Brastemp</h1> </h1>
                    <h1 class="vendido">Cor:&nbsp;<h1>Inox</h1> </h1>
                    <h1 class="vendido">Dimensões:&nbsp;<h1>74 x 64 x 180 cm</h1> </h1>
                </div>
                <div class="preco">
                    <h3>R$ 3.199,00</h3>
                    <h1 class="vendido">à vista no Pix e boleto ou em até 10x de R$ 319,90 sem juros</h1>
                </div>
            </div>
            <hr>
        </div>
        <div class="pagamento">
            <div class="soma">
                <h1>Total:&nbsp;</h1><h1>R$ 12.394,00</h1>
            </div>
            <div class="frete"> <h1>Total + Frete:</h1><h1>R$ 12.414,00</h1></div>
           
        </div>
    </div>
</div>
