<app-header></app-header>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
<div class="fundo">
    <div class="container">
        <div class="conteudo">
            <div class="item">
                <div class="introducao">
                    <div class="ola">
                        <h1>Olá, eu sou a Saiury!</h1>
                    </div>
                    <hr>
                    <div class="texto">
                        <h2>Desenvolvedora apaixonada por criar soluções inovadoras e funcionais, transformando ideias
                            em realidade através do código.</h2>
                    </div>
                    <div class="conversa">
                        <h2>Vamos conversar?</h2>
                    </div>
                    <div class="contato">
                        <button class="btn">Contato</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <div class="scroll"></div>
    </div>
    <div class="sobre">
        <div class="conteudo">
            <div class="introducao" id="intro">
                <div class="ola">
                    <h1>Sobre mim</h1>
                </div>
                <hr>
                <div class="texto">
                    <h2>Aqui você encontrará mais informações sobre mim, o que faço
                        e minhas habilidades atuais principalmente em termos de programação e tecnologia.</h2>
                </div>
                <div class="cards">
                    <div class="habilidades">
                        <h2>Atualmente, dedico-me ao <b>desenvolvimento de aplicações Android </b> e à <b>gestão
                                fullstack de sites e aplicativos web</b>, contribuindo para o sucesso integral dos
                            produtos.</h2><br>
                        <h2>Além de desenvolver, gosto de compartilhar o que aprendi ao longo dos anos na área
                            de desenvolvimento, ajudando outros membros da comunidade.
                            Acompanhe-me no <b>Github</b>, onde posto conteúdos úteis sobre desenvolvimento e
                            programação.</h2><br>
                        <h2>Estou aberta a oportunidades de <b>trabalho</b> onde puder contribuir, aprender e crescer.
                            Se você tem uma boa oportunidade que combina com minhas habilidades e experiência, então não
                            hesite em entrar em contato comigo.</h2>
                    </div>
                    <div class="habilidades">
                        <h2 class="titulo">Minhas Habilidades</h2>
                        <div class="skills">
                            <div class="skill">PHP</div>
                            <div class="skill">CSS</div>
                            <div class="skill">C#</div>
                            <div class="skill">C++</div>
                            <div class="skill">GIT</div>
                            <div class="skill">JAVA</div>
                            <div class="skill">GITHUB</div>
                            <div class="skill">ANGULAR</div>
                            <div class="skill">MICROSOFT AZURE</div>
                            <div class="skill">GOOGLE CLOUD PLATFORM</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projetos">
        <div class="bloco">
            <div class="card">
                <div class="ola">
                    <h1>Projetos</h1>
                </div>
                <hr>
                <div class="links">
                    <div class="url">
                        <a href="https://github.com/httpsguerni/Damas" target="_blank"> Jogo de Damas em C#</a><br>
                        <a href="https://github.com/httpsguerni/CalculadoraJS" target="_blank">Calculadora com JavaScript</a><br>
                        <a href="https://github.com/httpsguerni/cifra-adfgvx" target="_blank">Criptografia ADFGVX com Python</a><br>
                        <a href="https://github.com/httpsguerni/Angular" target="_blank">Repositório de Sites Front-end em
                            Angular</a><br>
                        <a href="https://github.com/httpsguerni/Biblioteca" target="_blank">Sistema de Gerenciamento de Biblioteca em
                            PHP</a><br>
                    </div>

                </div>
            </div>
        </div>
        <div class="bloco">
            <div class="card">
                <div class="ola">
                    <h1>Redes Sociais</h1>
                </div>
                <hr>
                <div class="social">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"><a href="https://github.com/httpsguerni/" target="_blank" >Siga-me no Github</a></div>
                    <div class="div5"><a href="https://www.linkedin.com/in/saiury/" target="_blank" >Conecte-se ao meu Linkedin</a></div>
                    <div class="div6"><a href="mailto:saiury@vs.dev.br" target="_blank">Contate-me por e-mail</a><br></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>