<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="container">
<div class="navigation"><a class="home">{{navigation.home}}</a> <a>{{navigation.senac}} </a></div>
<div class="courses"></div>
<div class="list">
    <div class="card ard"></div>
    <div class="card web"></div>
    <div class="card iot"></div>
    <div class="card prg"></div>
</div>
</div>
